RewriteEngine On

Options -Indexes

<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Files *.sql>
    Order allow,deny
    Deny from all
</Files>

RewriteRule ^(config|core|models|layouts|pages)/ - [F,L]